{{#if returns~}}{{heading-depth-bump}}{{>heading}}Returns{{heading-depth-drop}}

{{#each returns~}}
  {{#if type.names}}{{{join (linkTo type.names) " | "}}}{{/if}}
  {{~#if description}} - {{{linkify description}}}{{/if}}
{{~/each}}  

{{/if}}