**This is a private fork that merely alters the formatting of the generated docs to suit personal tastes. I will probably only use the partials as overrides and not update the module unless they become incompatible.**

***documentation in progress***

#dmd
A transform stream taking javascript doclet data in (produced by [jsdoc-parse](https://github.com/75lb/jsdoc-parse) or any source), outputing markdown documentation. Essentially, the library is collection of Handlebars templates and helpers, any of which can be overridden to taste. The `main` template is rendered using the data received at stdin. 

##Synopsis
```
$ cat examples/input/doclet.json
[
    {
        "name": "fatUse",
        "kind": "member",
        "description": "I am a global variable",
        "scope": "global"
    }
]

$ cat examples/input/doclet.json | dmd
#Global

##fatUse
I am a global variable
```

##Usage
###As a library
Install:
```sh
$ npm install dmd --save
```
Example:
```js
var dmd = require("dmd");

process.stdin.pipe(dmd()).pipe(process.stdout);
```

###At the command line
Install the `dmd` tool globally: 
```sh
$ npm install -g dmd
```
Example:
```sh
$ cat examples/doclet.json | dmd
```

##Plugins
* [dmd-examples-highlight](https://github.com/75lb/dmd-examples-highlight)
    
#API Reference
{{#module name="dmd"}}{{>exported}}{{/module}}

*documented by [jsdoc-to-markdown](https://github.com/75lb/jsdoc-to-markdown)*
