{{#if (isClass)~}}
  {{>classdesc~}}
  {{>augments~}}
{{else~}}
  {{>description~}}
  {{>params~}}
  {{>deprecated~}}
  {{>augments~}}
  {{>memberof~}}
  {{>type~}}
  {{>default~}}
  {{>returns~}}
  {{>access~}}
  {{>enum~}}
  {{>readOnly~}}
  {{>since~}}
  {{>version~}}
  {{>authors~}}
  {{>license~}}
  {{>copyright~}}
  {{>examples~}}
{{/if~}}